---
layout: page
status: publish
published: true
title: Articles
date: "2016-03-30 08:51:17 +0300"
date_gmt: "2016-03-30 08:51:17 +0300"
categories: []
tags: []
comments: []
---

{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

<ul class="article-list">
	{% for post in site.posts %}
	<li>
		<span class="link">
			<a href="/breadmagazine{{ post.url }}">{{ post.title }}</a>
		</span>
		<span class="date">{{ post.date | date: date_format }} </span>
		{% if post.author %}
		<span class="author">• {{ post.author }}</span>
		{% endif %}
	</li>
	{% endfor %}
</ul>
